vulnerable_workflows/06-credential-exposure/cred-hardcoded-openai.json
{
  "id": "vuln-cred-001",
  "name": "Hardcoded OpenAI API Key in HTTP Request",
  "active": false,
  "nodes": [
    {
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "node-2",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Summarize the latest news"
            },
            {
              "name": "model",
              "value": "gpt-3.5-turbo"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Call OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 0],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-abcdefghijklmnopqrstuvwxyz1234567890"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": $json.prompt}] }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-4",
      "name": "Parse Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "completion",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "Call OpenAI API", "type": "main", "index": 0 }]]
    },
    "Call OpenAI API": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    }
  }
}
