vulnerable_workflows/06-credential-exposure/cred-hardcoded-github.json
{
  "id": "vuln-cred-002",
  "name": "Hardcoded GitHub Personal Access Token",
  "active": false,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Set Repository Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "owner",
              "value": "my-org"
            },
            {
              "name": "repo",
              "value": "my-repo"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Get Repository Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 0],
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/issues",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token ghp_1234567890abcdefghijklmnopqrstuvwxyz"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        }
      }
    },
    {
      "id": "node-4",
      "name": "Filter Open Issues",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state }}",
              "operation": "equals",
              "value2": "open"
            }
          ]
        }
      }
    },
    {
      "id": "node-5",
      "name": "Format Issues",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1000, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "url",
              "value": "={{ $json.html_url }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Set Repository Info", "type": "main", "index": 0 }]]
    },
    "Set Repository Info": {
      "main": [[{ "node": "Get Repository Issues", "type": "main", "index": 0 }]]
    },
    "Get Repository Issues": {
      "main": [[{ "node": "Filter Open Issues", "type": "main", "index": 0 }]]
    },
    "Filter Open Issues": {
      "main": [[{ "node": "Format Issues", "type": "main", "index": 0 }]]
    }
  }
}
