vulnerable_workflows/06-credential-exposure/safe-cred-n8n-credentials.json
{
  "id": "safe-cred-001",
  "name": "Safe - Using n8n Credential System",
  "active": false,
  "nodes": [
    {
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "node-2",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "endpoint",
              "value": "/repos/n8n-io/n8n/issues"
            },
            {
              "name": "method",
              "value": "GET"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Call GitHub API (Safe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 0],
      "parameters": {
        "url": "=https://api.github.com{{ $json.endpoint }}",
        "method": "={{ $json.method }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "credentials": {
        "githubApi": {
          "id": "1",
          "name": "GitHub API Credentials"
        }
      }
    },
    {
      "id": "node-4",
      "name": "Call OpenAI (Safe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-3.5-turbo"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": \"Summarize: \" + JSON.stringify($json)}] }}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API Credentials"
        }
      }
    },
    {
      "id": "node-5",
      "name": "Call AWS S3 (Safe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 0],
      "parameters": {
        "url": "https://my-bucket.s3.amazonaws.com/data.json",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "aws"
      },
      "credentials": {
        "aws": {
          "id": "3",
          "name": "AWS Credentials"
        }
      }
    },
    {
      "id": "node-6",
      "name": "Process Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "message",
              "value": "All API calls completed securely using n8n credential system"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Prepare Request", "type": "main", "index": 0 }]]
    },
    "Prepare Request": {
      "main": [[{ "node": "Call GitHub API (Safe)", "type": "main", "index": 0 }]]
    },
    "Call GitHub API (Safe)": {
      "main": [[{ "node": "Call OpenAI (Safe)", "type": "main", "index": 0 }]]
    },
    "Call OpenAI (Safe)": {
      "main": [[{ "node": "Call AWS S3 (Safe)", "type": "main", "index": 0 }]]
    },
    "Call AWS S3 (Safe)": {
      "main": [[{ "node": "Process Results", "type": "main", "index": 0 }]]
    }
  }
}
