vulnerable_workflows/11-edge-cases/edge-disabled-vulnerable.json
{
  "id": "edge-002",
  "name": "Edge Case - Disabled Vulnerable Code Node",
  "active": false,
  "nodes": [
    {
      "id": "node-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "path": "/api/execute",
        "httpMethod": "POST"
      }
    },
    {
      "id": "node-2",
      "name": "Extract Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userCode",
              "value": "={{ $json.body.code }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Execute Code (Disabled)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 0],
      "disabled": true,
      "parameters": {
        "jsCode": "// Vulnerable but disabled node\nconst userInput = '{{ $json.userCode }}';\nconst result = eval(userInput);\nreturn [{json: {result}}];"
      }
    },
    {
      "id": "node-4",
      "name": "Safe Alternative",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 150],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Code execution is disabled"
            }
          ]
        }
      }
    },
    {
      "id": "node-5",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Extract Input", "type": "main", "index": 0 }]]
    },
    "Extract Input": {
      "main": [[
        { "node": "Execute Code (Disabled)", "type": "main", "index": 0 },
        { "node": "Safe Alternative", "type": "main", "index": 0 }
      ]]
    },
    "Execute Code (Disabled)": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    },
    "Safe Alternative": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  }
}
