vulnerable_workflows/07-multi-source-coverage/source-rss-feed.json
{
  "name": "RSS Feed RCE Vulnerability",
  "nodes": [
    {
      "parameters": {
        "url": "https://example.com/feed.xml",
        "options": {}
      },
      "id": "rss-feed-trigger",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feedTitle",
              "value": "={{ $json.title }}"
            },
            {
              "name": "feedContent",
              "value": "={{ $json.content }}"
            },
            {
              "name": "feedLink",
              "value": "={{ $json.link }}"
            },
            {
              "name": "processingScript",
              "value": "={{ $json.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-rss-data",
      "name": "Extract RSS Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process RSS feed content dynamically\nconst script = $input.first().json.processingScript;\n\n// VULNERABILITY: eval() with RSS content\nconst result = eval(script);\n\nreturn [{ json: { processed: result } }];"
      },
      "id": "code-process-rss",
      "name": "Process Feed Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.processed }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "if-has-result",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "processed"
            },
            {
              "name": "result",
              "value": "={{ $json.processed }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success",
      "name": "Set Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Extract RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract RSS Data": {
      "main": [
        [
          {
            "node": "Process Feed Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Feed Content": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
