vulnerable_workflows/01-code-injection/rce-webhook-eval.json
{
  "id": "vuln-rce-001",
  "name": "RCE - Webhook to Code with eval()",
  "active": false,
  "nodes": [
    {
      "id": "node-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "path": "/api/execute",
        "httpMethod": "POST"
      }
    },
    {
      "id": "node-2",
      "name": "Extract User Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userCode",
              "value": "={{ $json.body.code }}"
            },
            {
              "name": "operation",
              "value": "={{ $json.body.operation }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Transform Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "processedCode",
              "value": "={{ $json.userCode }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-4",
      "name": "Execute User Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "jsCode": "// Vulnerable: using eval() with user input\nconst userInput = '{{ $json.processedCode }}';\nconst result = eval(userInput);\nreturn [{json: {result}}];"
      }
    },
    {
      "id": "node-5",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Extract User Input", "type": "main", "index": 0 }]]
    },
    "Extract User Input": {
      "main": [[{ "node": "Transform Data", "type": "main", "index": 0 }]]
    },
    "Transform Data": {
      "main": [[{ "node": "Execute User Code", "type": "main", "index": 0 }]]
    },
    "Execute User Code": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  }
}
