vulnerable_workflows/09-sanitizers/sanitizer-if-regex.json
{
  "name": "vuln-sanitizer-001",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "sanitizer-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "assign-002",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-001",
      "name": "Extract User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "id": "condition-001",
              "value1": "={{ $json.userId }}",
              "operation": "regex",
              "value2": "^[a-zA-Z0-9]+$"
            }
          ]
        }
      },
      "id": "if-001",
      "name": "Validate Input Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Process user action\nconst userId = $input.item.json.userId;\nconst action = $input.item.json.action;\n\n// Execute action with user ID\nconst result = eval(`processUser_${action}('${userId}')`);\n\nreturn { result };"
      },
      "id": "code-001",
      "name": "Execute Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { error: 'Invalid user ID format' };"
      },
      "id": "code-002",
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Validate Input Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Format": {
      "main": [
        [
          {
            "node": "Execute Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
