vulnerable_workflows/05-prompt-injection/pi-webhook-openai-direct.json
{
  "id": "vuln-pi-001",
  "name": "PI - Webhook to OpenAI Direct Concat",
  "active": false,
  "nodes": [
    {
      "id": "node-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "path": "/api/chat",
        "httpMethod": "POST"
      }
    },
    {
      "id": "node-2",
      "name": "Extract User Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userMessage",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "context",
              "value": "={{ $json.body.context }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 0],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "You are a helpful assistant. User says: {{ $json.userMessage }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-4",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [750, 0],
      "parameters": {
        "model": "gpt-4",
        "prompt": "={{ $json.prompt }}"
      }
    },
    {
      "id": "node-5",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Extract User Message", "type": "main", "index": 0 }]]
    },
    "Extract User Message": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  }
}
