vulnerable_workflows/10-complex-flows/flow-multi-source-convergence.json
{
  "name": "Multi-Source Convergence Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-source-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "webhook-1"
    },
    {
      "parameters": {
        "triggerOn": "message"
      },
      "id": "slack-source-2",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "webhookData",
              "value": "={{ $json.body.userInput }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-webhook-path",
      "name": "Process Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "slackMessage",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-slack-path",
      "name": "Process Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "combinedInput",
              "value": "={{ $json.webhookData || $json.slackMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-combined",
      "name": "Combine Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const userInput = $input.first().json.combinedInput;\nconst result = eval(userInput);\nreturn [{ json: { result } }];"
      },
      "id": "code-sink",
      "name": "Execute Dynamic Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Process Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Webhook Data": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Slack Message": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Execute Dynamic Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": []
}
